<div class="col-xs-6 col-sm-3 sidebar-offcanvas small pull-right" id="sidebar">
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('.index') }}" style="color: black">CRUD 主页</a></li>
		 <li class="list-group-item"><a href="{{ url_for('.websocket') }}" style="color: black">CRUD 基本示例</a></li>
		 <li class="list-group-item">Dapibus ac facilisis in</li>
		 <li class="list-group-item">Morbi leo risus</li>
		 <li class="list-group-item">Porta ac consectetur ac</li>
		 <li class="list-group-item">Vestibulum at eros</li>
	</ul>
</div><!--/.sidebar-offcanvas-->
